.header {
  background-color: blue;
}

body {
  background-image: url("./images/cosmic.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
